.Items {
  grid-area: Content;
  position: relative;

  margin: 0 1rem;
}
.Items > .Item {
  position: absolute;

  width: 20px;
  box-sizing: border-box;
}
.Items > .ItemContinuation {
  position: absolute;

  bottom: 100%;
  width: 20px;
  height: 40px;
  box-sizing: border-box;
}
.Items > .Line {
  position: absolute;
  right: 0;
  height: 0px;
}
.Items .Label {
  position: absolute;
  right: 0;

  text-align: right;

  margin-top: 3px;
  margin-bottom: 3px;
}
.Items .Label > .Main {
  color: #777;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1.0rem;
  line-height: 1.0rem;
}
.Items .Label > .Sub {
  color: #777;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 0.9rem;
}
