.Items {
  grid-area: Content;
  position: relative;
}
.Items > .Item {
  background: #C8A2C8;

  position: absolute;

  width: 20px;
  border: 1px black solid;
  box-sizing: border-box;
}
.Items > .Item::after {
  content: '';
  right: 0;
  height: 1px;
}
