.Items {
  grid-area: Content;
  position: relative;
}
.Items > .Item {
  background: #C8A2C8;

  position: absolute;

  width: 20px;
  border: 1px black solid;
  box-sizing: border-box;
}
.Items > .Line {
  position: absolute;
  right: 0;
  height: 0px;

  border-top: 1px black dashed;
}
.Items > .Label {
  position: absolute;
  right: 0;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
}
