.Timeline {
  grid-area: Timeline;

  padding: 30px 10px;

  display: grid;
  grid-template-areas: 'Years Content';
  grid-template-columns: 30px auto;
  grid-template-rows: 100%;
}

.Content {
  grid-area: Content;
  position: relative;
}
.Content > .Item {
  background: ;

  position: absolute;

  width: 20px;
  border: 1px black solid;
}
/* .Content > .Item::after { */
/*   content: ''; */
/*   right: 0; */
/*   height: 1px; */
/* } */
