.Timeline {
  grid-area: Timeline;

  padding: 30px 10px;

  display: grid;
  grid-template-areas: 'Years Content';
  grid-template-columns: 30px auto;
  grid-template-rows: 100%;
}

.Years {
  grid-area: Years;

  display: flex;
  flex-direction: column;
}
.Years > .Year {
  position: relative;
  flex: 1 1 auto;
  text-align: left;
}
.Years > .Year > .Label {
  display: inline;
  position: absolute;

  transform: translate(-100%, 0) rotate(270deg) translate(-6px, 12px);
  transform-origin: right top;

  font-family: monaco,Consolas,Lucida Console,monospace;
  font-size: 14px;
  color: #444;

  cursor: default;
}
.Years > .Year > .Bar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #444;
}
.Years > .Year > .Bar::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 1px;
  width: 10px;
  background: #444;
}
