.Years {
  grid-area: Years;

  display: flex;
  flex-direction: column;
}
.Years > .Year {
  position: relative;
  flex: 1 1 auto;
  text-align: left;
}
.Years > .Year > .Label {
  display: inline;
  position: absolute;

  bottom: 1px;
  right: 3px;

  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);

  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #999;

  cursor: default;
}
.Years > .Year > .Bar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 2px;

  background: #BBB;
}
.Years > .Year > .Bar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 13px;

  background: #BBB;
}
