.Years {
  grid-area: Years;

  display: flex;
  flex-direction: column;
}
.Years > .Year {
  position: relative;
  flex: 1 1 auto;
  text-align: left;
}
.Years > .Year > .Label {
  display: inline;
  position: absolute;

  bottom: 0;

  transform: translate(-100%, 0) rotate(270deg) translate(22px, 8px);
  transform-origin: right top;

  font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #999;

  cursor: default;
}
.Years > .Year > .Bar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 2px;

  background: #BBB;
}
.Years > .Year > .Bar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 13px;

  background: #BBB;
}
