.A4-outer {
  position: relative;

  margin: 15px 15px 0 15px;

  background: white;
}
.A4-outer:last-of-type {
  margin: 15px;
}

@media (orientation: landscape) {
  .A4-outer {
    height: calc(100vh - 30px);
    padding-top: none;
    width: calc(70.7vh - 30px);
  }
}
@media (orientation: portrait) {
  .A4-outer {
    width: calc(100% - 30px);
    padding-top: calc(141.4% - 30px);
  }
}

@media print {
  .A4-outer {
    width: 100%;
    padding-top: 141.4%;

    margin: 0;
  }
}

.A4-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
