.App {
  text-align: center;
}

.PageOne {
  display: grid;
  grid-template-areas:
    'Header Header'
    'Timeline Skills'
    'Footer Footer';
  grid-template-rows: 1fr 8fr 30px;
  grid-template-columns: 5fr 2fr;

  margin: 3rem 2rem;
}

.PageTwo {
  display: grid;
  grid-template-areas:
    'Motivation'
    'Experience'
    'Github';
  grid-template-rows: min-content auto min-content;

  margin: 3rem 2rem;
}

.Github {
  grid-area: Github;
}
