.App {
  text-align: center;
}

.PageOne {
  display: grid;
  grid-template-areas:
    'Header'
    'Timeline'
    'Footer';
  grid-template-rows: 1fr 8fr 30px;
  grid-template-columns: 100%;

  margin: 3rem 2rem;
}

.PageTwo {

}
