.Footer {
  grid-area: Footer;

  display: grid;
  grid-template-areas:
    'Link';
  grid-template-columns: 100%;
  align-items: center;

  font-size: 0.9rem;
  font-family: sans-serif;
  font-weight: 300;
}

.Footer > .Link {
  color: #777;
}
.Footer > .Link a {
  color: inherit;
  text-decoration: none;
}
