.Footer {
  grid-area: Footer;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 0.8rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.Footer > .Link {
  color: #777;
}
.Footer > .Link a {
  color: inherit;
  text-decoration: none;
}
