@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,500&display=swap');

.Header {
  grid-area: Header;

  display: grid;
  grid-template-areas:
    'Name Phones Emails';
  align-items: center;

  padding: 2rem 0;

  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}
.Header > .Name {
  grid-area: Name;

  text-transform: uppercase;

  font-size: 2.5rem;
  line-height: 2.5rem;

  color: #888;
}

.Header > .Phones {
  grid-area: Phones;

  text-align: center;

  font-size: 0.9rem;
  line-height: 1.0rem;

  font-weight: 500;
  color: #888;
}
.Header > .Phones > div {
  display: inline-block;
  text-align: left;
}

.Header > .Emails {
  grid-area: Emails;

  text-align: center;

  font-size: 0.9rem;
  line-height: 1.0rem;

  font-weight: 500;
  color: #888;
}
.Header > .Emails > div {
  display: inline-block;
  text-align: left;
}

.Header a {
  color: inherit;
  text-decoration: inherit;
}
