@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,500&display=swap');

html {
  height: 100%;
  width: 100%;

  background: #888;

/*   transform-origin: top center; */
/*   transform: scale(0.7); */
}
body {
  height: 100%;
  width: 100%;

  margin: 0;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #888;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
  position: relative;

  page-break-after: avoid;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@page {
  margin: 0 !important;
  padding: 0 !important;
}

@media print {
  html {
    background: none;
  }

  html, body, #root {
    height: auto;
  }
}
