.Motivation {
  grid-area: Motivation;
}

.Motivation > .title {
  text-align: left;
  font-size: 26px;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;

  color: rgb(150, 202, 247);
}

.Motivation > .container {
  padding: 2rem 2rem;
  color: #444;
  background: rgb(207, 229, 251);
}
