.Skills {
  margin: 2rem 0 2rem 0.5rem;
}

.Skills > .section {
  display: grid;
  grid-template-areas:
    'title items';
  grid-template-columns: min-content auto;
}
.Skills > .section:not(:last-child) {
  margin-bottom: 2rem;
}

.Skills > .section > .title {
  color: #888;
  font-size: 0.95rem;

  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);

  padding: 1rem 0 1rem 2px;
}

.Skills > .section > ul {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0;
  padding: 0.5rem 0.5rem;

  font-size: 0.9rem;

  border-left: 2px solid #BBB;
}
.Skills > .section > ul::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  width: 13px;

  background: #BBB;
}
.Skills > .section > ul::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 13px;

  background: #BBB;
}

.Skills > .section > ul > li {
  list-style: none;

  text-align: left;

  margin: 0.1rem 0;
}
